/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
// $--color-primary: hotpink;

$--color-primary: #401500;

/* icon font path, required */
$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import '~normalize.css';
@import "~element-plus/theme-chalk/src/index";

@font-face {
  font-family: "Berry_Rotunda";
  src: local("Berry_Rotunda"),
    url("./assets/font/Berry_Rotunda.ttf") format("truetype");
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Berry_Rotunda";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

option {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app, .el-container {
    height: 100vh;
    width: 100vw;
}

.el-radio,
.el-radio__input.is-checked + .el-radio__label {
  color: #280d00 !important;
  font-style: oblique;
  font-family: "Berry_Rotunda";
}